{% extends 'base.html' %}
{% block content %}
<div id="modal-success" class="modal green lighten-2">
    <div class="modal-content green lighten-2">
      <h4 class="center-align">Email Sent!</h4>
    </div>
    <div class="modal-footer green">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat green lighten-2">OK!</a>
    </div>
  </div>
<div id="modal-failure" class="modal red lighten-2">
    <div class="modal-content red lighten-2">
      <h4 class="center-align">Something went wrong! Please try again.</h4>
    </div>
    <div class="modal-footer red">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat red lighten-2">OK!</a>
    </div>
  </div>
<div class="row">
    <form class="col s12">
        <div class="row title-top-padding">
            <h4 class="col s16">Contact Author Form</h4>
        </div>
        <div class="row">
            <h5 class="col s12">Author: {{ thing.author_email }}</h5>
        </div>
        <div class="row">
        {% csrf_token %}
            <div class="input-field col s6">
                {{ form.title }}
                <label for="form.title.label">Email Title</label>
            </div>
            <div class="input-field col s6">
                {{ form.from_ }}
                <label for="form.from_.label">Your Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{ form.body }}
                <label for="form.body.label" data-error="wrong" data-success="right">Email Text</label>
            </div>
                <input type="hidden" name="id" value="{{ thing.id }}">
            <div class="input-field col s6 input-btn-inline">
                <button class="btn waves-effect waves-light blue" onclick="sendEmail(event)">Send Query!
                <i class="material-icons right">send</i></button>
            </div>
        </div>    
</form>
{% load static %}
<script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}